html {
  scroll-behavior: smooth;
}

body {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    color: #000;
}

/* Menu Bar */

ul[role="menubar"] {
    margin: 10px;
    padding: 10px;
    font-size: 110%;
    list-style: none;
    background-color: #eee;
  }
  
  ul[role="menubar"] [role="menuitem"],
  ul[role="menubar"] [role="separator"] {
    padding: 0.25em;
    background-color: #eee;
    border: 2px solid #eee;
  }
  
  ul[role="menubar"] [role="separator"] {
    padding-top: 0.15em;
    background-image: url('../images/separator.png');
    background-position: center;
    background-repeat: repeat-x;
  }
  
  ul[role="menubar"] [role="menuitem"]:focus,
  ul[role="menubar"] [role="menuitem"]:hover,
  ul[role="menubar"] [role="separator"]:focus,
  ul[role="menubar"] [role="separator"]:hover {
    background-color: #000;
    color: white;
  }
  
  ul[role="menubar"] a[role="menuitem"] {
    text-decoration: none;
    color: #000;
  }
  
  ul[role="menubar"] li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul[role="menubar"] > li {
    display: inline;
    position: relative;
  }
  
  ul[role="menubar"] > li > a::after {
    content: url('../images/down-arrow-brown.png');
    padding-left: 0.25em;
  }
  
  ul[role="menubar"] ul[role="menu"] {
    display: none;
    position: absolute;
    top: -2px;
    left: 0;
    margin: 0;
    padding: 0;
  }
  
  ul[role="menubar"] ul[role="menu"] li a {
    display: block;
    width: 10em;
  }
  
  ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]::after {
    content: url('../images/right-arrow-brown.png');
    padding-right: 2em;
  }

  a[role="menuitem active"] {
    color: #000;
    font-weight: 700;
  }

/* home, about specific css */

  .row {
    padding: 30px;
    letter-spacing: 1px;
}

.container {
    padding: 50px;
    background-color: #fef854;
}

h2, p {
    display: flex;
    justify-content: center;
    flex: 0 1 100%;
    grid-column: 1 / -1;
    letter-spacing: 3px;
  }

p {
    display: flex;
    margin: 0 0 1em 0;
    justify-content: center;
}

.button {
    position: absolute;
    right: 35px;
    background-color: #cc2f2a;
    border-radius: 16px;
}
.card {
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
}

/* about css */

#about {
  padding-top: 40px;
}